.container {
    width: 100%;
    max-width: 400px;
    height: 100dvh;
    overflow-y: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#chat-log {
    flex: 4;

}

#hr {
    text-align: center;
}

#textarea:focus {
    outline: none;
    border: 2px ;
    border-color: var(--color-progressive-active);
}

#user-input {
    flex: 2;
    max-height: 275px;
    display: flex;
    flex-direction: column;
    
}

#message {
    flex: 4;
    min-height: 0;
    box-sizing: border-box;
    resize: none;
    font: inherit;
}

#username-area {
    margin-top: 8px;
    max-height: 20px;
    flex: 1;
    display: flex;
    align-items: center;
}

#username-area > span {
    flex: 1;
    text-align: right;
    margin-right: 0.25em;
}

#username {
    min-width: 0;
}

#username-note {
    margin: 0.25em 0 0.75em;
    text-align: right;
    font-size: 0.8em;
}

#submit-area {
    flex: 1;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#whatam {
    flex: none;
    display: block;
}

#submit {
    flex: none;
    width: 40%;
    font: inherit;
}