.container {
    width: 100%;
    max-width: 500px;
    height: 100dvh;
    padding: 0.5em 0.5em 0;
    box-sizing: border-box;
    overflow-y: hidden;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    color: var(--color-base);
}

#chat-log {
    flex: 4;
    min-height: 0;
    overflow-y: auto;

    background-color: #d9dce0;
    border: 1px solid var(--color-base);
    border-radius: 5px;

    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chatlog::-webkit-scrollbar {
    display: none;
}

#end-message {
    flex: none;
    color: var(--color-option-purple);
    font-style: italic;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
}

.individual-chat {
    flex: none;
    font-size: 1.5em;

    display: flex;
    flex-direction: column;
}
.chat-name {
    width: fit-content;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 0;
}

.chat-name > span {
    font-weight: bold;
}

.chat-message {
    margin-top: .25em;
    margin-bottom: 0;
    width: fit-content;
    margin-left: 1em;
    text-align: left;
}

#hr {
    text-align: center;
}

#username:focus,
#message:focus {
    outline: 2px solid var(--color-progressive-hover);
    outline-offset: -2px;
}

#user-input {
    flex: 2;
    max-height: 275px;

    display: flex;
    flex-direction: column;
}

textarea {
    font: inherit;
    
    border-radius: 5px;
}

#message {
    flex: 4;
    min-height: 0;
    box-sizing: border-box;
    font-size: 1.25em;
    resize: none;
    border: 1px solid var(--color-base);
}

#username-area {
    flex: 1;
    max-height: 20px;
    margin-top: max(8px, .8em);

    display: flex;
    align-items: center;
}

#username-area > span {
    flex: 1;
    margin-right: 0.25em;
    text-align: right;
}

#username {
    min-width: 0;
    height: 1.5em;
    padding: 1px 2px;
    font-size: 1.25em;
    box-sizing: border-box;

    resize: none;
    overflow: hidden;
    
    line-height: normal;
    white-space: nowrap;
}

#username-note {
    margin: max(8px, .8em) 0 0.75em;

    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
}

#submit-area {
    flex: 1;
    padding-bottom: 1em;

    display: flex;
    align-items: center;
}

#whatam {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#submit {
    flex: none;
    width: max(100px, 25%);
    font: inherit;
}